<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    {{ function('wp_head') }}
</head>
<body class="bg-background-main">

{% include 'partials/header.twig' %}

 <!-- Breadcrumb -->


<div class="relative {% if function( 'is_user_logged_in') %}
pt-14
{% else %}
pt-14
{% endif %}">
<div class="absolute xs t-4 l-4 bg-accent-red text-brand-white uppercase rounded-full p-2 px-4 z-50">
    XSMALL
</div>
<div class="absolute hidden sm:block t-4 l-4 bg-accent-gold text-brand-white uppercase rounded-full p-2 px-4 z-50">
    SMALL
</div>
<div class="absolute hidden md:block t-4 l-4 bg-accent-green text-brand-white uppercase rounded-full p-2 px-4 z-50">
    MEDIUM
</div>
<div class="absolute hidden lg:block t-4 l-4 bg-accent-blue text-brand-white uppercase rounded-full p-2 px-4 z-50">
    LARGE
</div>
<div class="absolute hidden xl:block t-4 l-4 bg-brand-black text-brand-white uppercase rounded-full p-2 px-4 z-50">
    xLARGE
</div>
    {% block body %}
    {% endblock body %}
 </div>

{% include 'partials/footer.twig' %}

{{ function('wp_footer') }}
</body>
</html>
