<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    {{ function('wp_head') }}
</head>
<body class="bg-background-main">

{% include 'partials/header.twig' %}

 <!-- Breadcrumb -->


<div class=" pr-8 {% if function( 'is_user_logged_in') %}
pt-14
{% else %}
pt-14
{% endif %}">
    {% block body %}
    {% endblock body %}
 </div>

{% include 'partials/footer.twig' %}

{{ function('wp_footer') }}
</body>
</html>
