<!-- FOOTER START-->
<div class="footer-container">
    <footer class="footer" id="footer">
        <div>
          <a href="http://www.bigpicturetrading.com" target="_blank" alt="link to public site" title="link to public site">
            <img src="{{theme.link}}/../assets/images/logo-1.png" alt="big picture trading logo">
          </a>
        </div>
        <div>
          <p class="feedback-link">
            <a href="https://us17.list-manage.com/survey?u=a96e0a756d697293909363a30&id=b7aff6c3d8" target="_blank">Got feedback? <i class="fas fa-comment ml-2"></i></a>
          </p>
        </div>
        <div class="contact-links">
          <p>
            <a href="tel:+18884264668"
              ><span>1-888-426-4668</span><i class="fas fa-phone-alt"></i
            ></a>
          </p>
          <p>
            <a href="mailto:contact@bigpicturetrading.com"
              ><span>contact@bigpicturetrading.com</span> <i class="fas fa-envelope"></i
            ></a>
          </p>

        </div>
        <p class="subtle copyright mt-8">
          All content &copy; 2017-
          <script>document.write(new Date().getFullYear())</script> Big Picture Trading, Inc.</script>
        </p>
    </footer>
  </div>
<!-- FOOTER END-->
