{% extends 'layouts/base.twig' %}



{% block body %}
    {{ include ('partials/header-secondary-trades.twig') }}
    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex border">
        <aside class="lg:w-1/4 border border-accent-red pt-4">
            {{ include ('partials/menu-trade-updates-sidebar.twig') }}
        </aside>
        <section class="w-full lg:w-3/4 pt-24">
            {% include 'partials/setups-list.twig' %}
        </section>
    </main>
{% endblock body %}
