<header class="page-header w-full bg-brand-white border-b border-gray-medium shadow fixed z-30">
    <div class='flex-grow w-full max-w-7xl mx-auto  lg:flex items-center justify-between'>
        {{ include ('partials/menu-trade-types-dropdown.twig') }}
        {{ include ('partials/searchform.twig') }}
    </div>

</header>
