<form method="get" role="search" action="{{ site.url }}">
    <input type="text" placeholder="Search Trades..." name="s" class="rounded pl-4 uppercase text-sm tracking-widest">
    <input type="submit" value="Search" class="submit btn ml-2 text-md bg-accent-blue mt-1">
    <input type="hidden" name="post_type" value="post">
  </form>
