
    {% if trade.witt_fields.display == "link" and trade.witt_fields.witt_link.url|length > 0 %}

        <a href="{{trade.witt_fields.witt_link.url}}" target="_blank" class="btn btn-accent text-center w-full">
            <i class="fas fa-video ml-1"></i> WITT SEGMENT
        </a>
    {% elseif trade.witt_fields.display == "embed" and trade.witt_fields.vimeo_id|length > 0 %}

        <iframe src="https://player.vimeo.com/video/{{trade.witt_fields.vimeo_id}}{% if trade.witt_fields.timestamp is not empty %}#t={{trade.witt_fields.timestamp}}{% endif %}" width="100%" height="100%" frameborder="0" allow="fullscreen" allowfullscreen="true" ></iframe>
    {% else %}

    {% endif %}

