{% if trade.post_type == ('trade-setup-tac') %}
    <span
    class="
        mx-1 border border-gray-dark text-gray-dark bg-gray-light"
    >
    TAC
    </span>
    {% elseif trade.post_type == ('cct') %}
    <span
        class="
            pill pill_small mr-1 bg-gray-light
        text-accent-red
        border
        border-accent-red"
        >
    {{trade.post_type}}
    </span>
{% elseif trade.post_type == ('bot') %}
    <span
        class="
            pill pill_small mr-1 bg-accent-blue-fade
            text-accent-blue
            border
            border-accent-blue"
        >
    {{trade.post_type}}
    </span>
{% elseif trade.post_type == ('lto') %}
    <span
    class="
    pill pill_small mr-1 bg-gray-light
    text-gray-dark
    border
    border-gray-dark"
    >
    {{trade.post_type}}
    </span>
{% elseif trade.post_type == ('ofi') %}
    <span
    class="
        pill pill_small mr-1 accent-gold-light
        text-accent-gold
        border
        border-accent-gold"
    >
    {{trade.post_type}}
    </span>
{% else %}

{% endif %}
