{% if trade.type == ('bot') %}
    <span
        class="
            pill mr-1 bg-accent-blue-fade
            text-accent-blue
            border
            border-accent-blue"
        >
    {{trade.type}}
    </span>
{% elseif trade.type == ('cct') %}
    <span
        class="
            pill mr-1 bg-gray-light
        text-accent-red
        border
        border-accent-red"
        >
    {{trade.type}}
    </span>
{% elseif trade.type == ('lto') %}
    <span
    class="
    pill mr-1 bg-gray-light
    text-accent-green
    border
    border-accent-green "
    >
    {{trade.type}}
    </span>
{% elseif trade.type == ('ofi') %}
    <span
    class="
        pill mr-1 bg-accent-gold-light
        text-accent-gold
        border
        border-accent-gold"
    >
    {{trade.type}}
    </span>

{% else %}

{% endif %}
