// Import components
@import 'components/buttons';
@import 'components/pills';
@import 'components/outlook';
@import 'components/flags';
@import 'components/typography';
@import 'animations';

@import 'components/title_attr';
@import 'components/sidebars';

// LSOP CARRY OVERS
// TODO: reformat into tailwind

:root {
    --brand-primary: #092440;
    --brand-primary-medium: #34526b;
    --brand-primary-light: #e6edf5;
    --brand-secondary: #84abcc;
    --brand-secondary-toned: #628099;
    --brand-secondary-light: #d5e2ed;
    --brand-black: #212121;
    --brand-white: #ffffff;
    --accent-blue: #2b7bb9;
    --accent-blue-medium:#7FAFD5;
    --accent-blue-light: #D4E4F1;
    --accent-blue-fade: rgba(131, 171, 204, 0.2);
    --accent-gold: #f5a623;
    --accent-gold-light: #ffc76a;
    --accent-gold-fade: rgba(245, 166, 35, 0.1);
    --accent-red: #cc3b3b;
    --accent-green: #40863f;
    --text-primary: #212121;
    --text-secondary: #3b4249;
    --gray-dark: #757575;
    --gray-medium: #bdbdbd;
    --gray-light: #f4f6f8;
    --background-main: #f7f8fa;
    --page-width: 1300px;
    --space: 10px;
    --shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.1);
    --shadow-sm: 1px 1px rgba(0,0,0,0.05), -1px -1px rgba(0,0,0,0.01);
  }

  // SASS VARS
  $bp-xl: 1100px;
  $bp-lg: 900px;
  $bp-md: 700px;
  $bp-sm: 500px;
  $bp-xs: 420px;
  $bp-xxs: 300px;

  * {
    box-sizing: border-box;
  }

  body {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  .footer-container {
      margin-bottom: 0px ;
  }


  .asset-container {
    scroll-margin-top: 162px;
    scroll-padding: 162px;
    -webkit-scroll-margin-top: 162px;
    scroll-snap-margin-top: 162px;
  }


  .page-header {
    flex: 1;
    min-width: 0;
    h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

  }


@import 'lsop_footer';
@import 'lsop_nav';


// Import Tailwind.css core
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
