<section>
    {% if post.comment_status | lower == 'closed' %}
        <p>{{ __('Comments are closed for this post', 'jackpine') }}</p>
    {% else %}
        <h2>{{ __('Comments', 'jackpine') }}</h2>

        {% for comment in post.comments %}
            {% include 'partials/comments/comment.twig' %}
        {% endfor %}
    {% endif %}

    <div>
        {% include 'partials/comments/comment-form.twig' %}
    </div>
</section>
