{% extends 'base.twig' %}

{% block body %}
    <article>
        <div>
            {% if post.thumbnail.src %}
                <img src="{{ post.thumbnail.src('large') }}"
                     alt="{{ post.thumbnail.alt }}">
            {% endif %}

            <h2>{{ post.title }}</h2>
        </div>

        <div>
            {{ post.content }}
        </div>
    </article>
{% endblock body %}
