{% extends 'layouts/base.twig' %}



{% block body %}
    <h1 class="text-red-500">Trade Setups</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate ipsum laborum voluptas esse et iusto ipsam sunt. Eveniet neque similique dolorem, laboriosam sapiente odio molestias cumque modi officiis veniam! Illum!</p>
    
    {% include './partials/setups-list-2.twig' %}
    

{% endblock body %}
