{% extends 'layouts/base.twig' %}



{% block body %}
    {{ include ('partials/header-secondary-tactical.twig') }}
    <nav class="tac-nav w-full fixed pt-16 bg-brand-secondary-light border-b border-gray-medium z-20 pl-32">
        <ul class="flex-grow w-full max-w-7xl mx-auto xl:px-0 flex-row flex justify-start ">
            <li ><a class="uppercase p-2 px-4 inline-block font-semibold bg-" href="#equity">Equity</a></li>
            <li ><a class="uppercase p-2 px-4 inline-block font-semibold bg-" href="#bonds">Bonds</a></li>
            <li ><a class="uppercase p-2 px-4 inline-block font-semibold bg-" href="#metals">Metals</a></li>
            <li ><a class="uppercase p-2 px-4 inline-block font-semibold bg-" href="#commodities">Commodities</a></li>
            <li ><a class="uppercase p-2 px-4 inline-block font-semibold bg-" href="#volatility">Volatility</a></li>

        </ul>
    </nav>
    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex flex-wrap ">
        <section class="w-full pt-24 tactical-portfolio">
            {% include './partials/setups-list-tac.twig' %}
        </section>
    </main>


{% endblock body %}
