{% extends 'layouts/base.twig' %}
{% block body %}
    {{ include ('partials/headers/header-secondary-pages.twig') }}
    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between mt-16 pt-2 md:pt-0 md:mt-12 lg:mt-16 lg:pt-4">
        <aside class="lg:w-64 lg:fixed lg:block">
            {% include 'partials/sidebars/sidebar-trade-updates.twig' %}
        </aside>
        <section class="w-full lg:ml-72 lg:pl-2 px-2">
            {% include 'partials/setups-list.twig' %}
        </section>

    </main>



    {{ parent() }}
{% endblock body %}


