{% extends 'layouts/base.twig' %}

{% block body %}


    {{ include ('partials/headers/header-secondary-wiki.twig') }}
    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex pt-24">
        <section class="w-full lg:rounded-lg lg:shadow-lg mb-4 lg:bg-brand-white p-4 lg:p-12">
            <article class="flex justify-between flex-wrap row-wrap">
                <header class="w-full">
                    <h2 class="uppercase text-4xl tracking-widest font-bold mb-2 text-accent-blue pr-4">{{ post.title }}</h2>
                    <div class="col-span-1">
                        <hr class="bg-gray-medium my-4">
                    </div>
                </header>



                <div class="prose lg:w-2/3 mr-18 mt-4 text-lg">

                    {{ post.content }}
                </div>

                <aside class="lg:w-1/4" id="videos">
                    <h3 class="text-2xl mb-6 text-brand-primary-medium tracking-wider font-semibold mt-4">TOPICS</h3>
                </aside>
            </article>


        </section>
    </main>


{#
    {% include 'partials/comments/comment-section.twig' %} #}
{% endblock body %}
