{% extends 'layouts/base.twig' %}



{% block body %}
    {{ include ('partials/header-secondary-tactical.twig') }}
    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between pt-10 md:pt-24 ">
        <section class="w-full mx-2">
            {% include './partials/setups-list-tac.twig' %}
        </section>
    </main>


{% endblock body %}
