{% extends 'layouts/base.twig' %}
{% block body %}
    {{ include ('partials/header-secondary-pages.twig') }}



    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between mt-4 pt-16">
        <aside class="pl-1 lg:w-64 lg:fixed">
            {{ include ('partials/menu-trade-updates-sidebar.twig') }}
        </aside>
        <section class="w-full lg:ml-72 lg:pl-8 px-2">
            {% include 'partials/setups-list.twig' %}
        </section>

    </main>









    {{ parent() }}
{% endblock body %}


