<h2 class="flex items-center" title="{{trade.underlying_name}}"><a href="" class="mr-2 symbol text-3xl font-black tracking-wide">{{trade.ticker_symbol}}</a>
    {{ include ('partials/trade-types/trade-type-pill_medium.twig') }}
</h2>
