.yearly-archives {

    list-style-type: none;
    li {
        @apply my-2;
    }
    a {
        @apply px-4 py-2 bg-brand-white rounded-lg text-brand-primary-medium ;
        text-decoration: none !important;

    }
}


.listkiller {
    ul {
        list-style-type: none !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
        display: flex;
        flex-flow: row wrap;
        li {
            // display: inline-block;
            margin:2px;
            a {
                text-decoration: underline;

            }
        }
    }


}
