.yearly-archives {

    list-style-type: none;
    li {
        // display: inline-block;
        // padding-bottom:2px;
    }
    a {
        @apply text-brand-primary-medium ml-2;

    }
}


.listkiller {
    ul {
        list-style-type: none !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
        display: flex;
        flex-flow: row wrap;
        li {
            // display: inline-block;
            margin:2px;
            a {
                text-decoration: underline;

            }
        }
    }


}
