* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


.subheading {
    @apply uppercase text-sm text-gray-dark tracking-wide;
}

.caption {
    @apply text-xs text-gray-dark;
}

.meta {
    @apply uppercase font-bold tracking-wide pr-3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prose {
    max-width: 100% !important;
}
