{% extends 'index.twig' %}


{% block body %}
{{ include ('partials/headers/header-secondary-single.twig') }}

<main class="max-w-7xl mx-auto relative pt-12 md:pt-16 md:mt-1 ">
    <section class="w-full px-2">
        {% if post.post_type == 'bot' %}
            {{ include ('partials/setups/setup-card_full--bot.twig') }}
        {% else %}
            {{ include ('partials/setups/setup-card_full.twig') }}
        {% endif %}
    </section>
</main>

{% endblock body %}
