

{% extends 'index.twig' %}


{% block body %}
{{ include ('partials/page-header.twig') }}
<main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex flex-wrap">
    <section class="w-full pt-24 ml-8">

      {{ include ('partials/setups/setup-card_full--tac.twig') }}
    </section>
</main>

{% endblock body %}
