

<nav id="nav-main" class="flex flex-row bg-white p-4 uppercase center text-sm justify-between " role="navigation">
    {% if items|default(trade_types_select.items) %}
        <select name="" id="" class="rounded-full px-8">
            {% for item in items|default(trade_types_select.items) %}
                <option value="" class="uppercase" {% if ptype == %}>
                    <a href="{{ item.link }}">
                        {{ item.slug}}
                    </a>

                </option>

            {% endfor %}
        </select>
    {% endif %}
</nav>

