{% extends 'index.twig' %}


{% block body %}

    <header class="page-header w-full bg-brand-white border-b border-gray-medium shadow fixed z-30 pr-2 md:pr-8">
        <div class='flex-grow w-full max-w-7xl mx-auto flex items-center justify-between relative h-10 lg:h-16'>
            <h2 class="ellipsis flex-grow flex items-center text-sm md:text-2xl uppercase text-brand-primary p-2 py-1 mt-1 md:py-4 lg:px-10 items-center tracking-widest font-semibold"><i class="inline-block fas fa-exclamation-circle mr-2 md:mr-2 lg:mr-3 pl-1 lg:pl-4"></i>404 <i class="far fa-chevron-double-right m-2 text-sm"> </i>
                NOTHING FOUND
            </h2>
            {{ include ('partials/searchform.twig') }}
        </div>

    </header>
    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between mt-4 pt-14  md:mt-9 lg:mt- lg:pt-16">
        <section class="w-full px-2">
                <div class="flex items-center justify-center h-64">
                    <p class="text-3xl text-center tracking-wide text-gray-medium p-4 w-1/2">Sorry, this page doesn't exist, much like a free lunch.</p>
                </div>
        </section>
    </main>










    {{ parent() }}
{% endblock body %}
