{% extends 'index.twig' %}


{% block body %}

    {{ include ('partials/headers/header-secondary-trades.twig') }}


    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between mt-16 pt-2 md:pt-0 md:mt-16 lg:mt-16 lg:pt-8">

        <section class="w-full">

                {% if posts|length > 0 %}
                    {% for trade in posts %}
                        {{ include ('partials/setups/setup-card_accordion.twig') }}
                    {% endfor %}
                {% else %}
                    <div class="flex items-center justify-center flex-wrap h-64">
                        <div class="flex justify-center flex-wrap">
                            <p class="text-xl text-center w-full tracking-wide text-accent-blue italic">There are no trades of this type and status currently posted.</p>
                            <p class="text-gray-dark">Try checking the archives for past trades.</p>
                        </div>

                    </div>

                {% endif %}


            {{ include ('partials/pagination.twig') }}
        </section>

    </main>


    {{ parent() }}
{% endblock body %}
