{% extends 'index.twig' %}

{% block body %}
<pre>archive.twig</pre>
    <h2>{{ category }}</h2>
    
    {% for trade in posts %} 
        {{ include ('partials/setups/setup-card_concise.twig') }}
    {% endfor %}

    {{ parent() }}
{% endblock body %}
