{% extends 'index.twig' %}


{% block body %}

    {{ include ('partials/header-secondary-trades.twig') }}


    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between mt-2 pt-24 md:pt-32">
        <section class="w-full px-2">
            <div class="open-trades">
                {% for trade in posts %}
                    {{ include ('partials/setups/setup-card_concise.twig') }}
                 {% endfor %}
            </div>
            {{ include ('partials/pagination.twig') }}
        </section>

    </main>


    {{ parent() }}
{% endblock body %}
