{% extends 'index.twig' %}

{% block body %}

{{ include ('partials/header-secondary-search.twig') }}

<main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between pt-12 md:pt-24 ">
    <section class="w-full px-2">
        {% if posts is not empty %}
            {% include 'partials/setups-list.twig' %}
        {% else %}
            <div class="h-48 p-48 mb-24">
                <p class="text-3xl text-center tracking-wide uppercase text-gray-medium">NOTHING FOUND</p>
            </div>
        {% endif %}
    </section>
</main>

    {{ parent() }}
{% endblock body %}
