{% extends 'index.twig' %}

{% block body %}

{{ include ('partials/header-secondary-search.twig') }}

<main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex relative justify-between">
    <aside class=" pt-16 pl-1 fixed">
        {{ include ('partials/menu-trade-updates-sidebar.twig') }}
    </aside>
    <section class="w-full pt-24 ml-48 pl-48">
        {% if posts is not empty %}
            {% include 'partials/setups-list.twig' %}
        {% else %}
            <div class="h-48 p-48 mb-24">
                <p class="text-3xl text-center tracking-wide uppercase text-gray-medium">NOTHING FOUND</p>
            </div>
        {% endif %}
    </section>
</main>

    {{ parent() }}
{% endblock body %}
