{% extends 'index.twig' %}

{% block body %}

{{ include ('partials/page-header.twig') }}
<main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex pt-24">
    <section class="w-full pl-8">
        {% include 'partials/setups-list.twig' %}
    </section>
</main>

    {{ parent() }}
{% endblock body %}
