{% extends 'index.twig' %}


{% block body %}

    {{ include ('partials/page-header.twig') }}
    <main class="flex-grow w-full max-w-7xl mx-auto xl:px-0 lg:flex ">
        <section class="w-full pt-24 pl-8">
            {% for trade in posts %}

                {{ include ('partials/setups/setup-card_concise.twig') }}

            {% endfor %}
        </section>
    </main>










    {{ parent() }}
{% endblock body %}
