{% extends 'base.twig' %}

{% block body %}
    <form action="{{ site.site_url ~ '/wp-login.php?action=postpass' }}"
          method="post">
        <label>
            {{ __('Password', 'jackpine') }}<br>
            <input name="post_password" type="password" size="20">
        </label>

        <button name="submit" type="submit">{{ __('Submit', 'jackpine') }}</button>
    </form>
{% endblock body %}
