<div class="mt-3 uppercase leg-headings font-semibold tracking-wider text-brand-black bg-gray-medium grid grid-rows-1 grid-cols-leg p-2 rounded text-xs mt-2 gap-x-2 text-center">
    <div class="leg-indicator"></div>
    <p class="" aria-label="leg entry date">ENTRY DATE</p>
    <p class="" aria-label="leg name ">NAME</p>
    <p class="" aria-label="leg strategy">STRATEGY</p>
    <p class="" aria-label="leg unit ratio">RATIO</p>
    <p class="" aria-label="action">ACTION</p>
    <p class="" aria-label="expiry">EXPIRY</p>
    <p class="" aria-label="strike price">STRIKE</p>
    <p class="" aria-label="entry price">PRICE</p>
    <div class="col-span-1 dropdowner" aria-label="additional details"><i class=" fas fa-ellipsis-h"></i></div>
</div>
