<header class="page-header w-full bg-brand-white border-b border-gray-medium shadow fixed z-30 pr-8">
    <div class='flex-grow w-full max-w-7xl mx-auto  flex items-center justify-between'>
        <h2 class=" flex items-center text-lg md:text-2xl uppercase text-brand-primary p-4 px-10 items-center tracking-widest font-semibold flex-shrink"><i class="fas fa-bullseye mr-3"></i>

                {{post.title}}


        </h2>

        {{ include ('partials/searchform.twig') }}
    </div>

</header>


