<form method="get" role="search" action="{{ site.url }}" class="flex flex-end justify-end items-center">
    <input type="text" placeholder="Search..." name="s" class="rounded pl-4 w-1/2 uppercase text-sm tracking-widest">
    <input type="submit" value="Search" class="submit btn ml-2 px-2 py-1 text-sm md:py-2 md:px-4 md:text-md bg-accent-blue mt-1 ">
    <input type="hidden" name="post_type" value="post">
  </form>
