

{% extends "partials/headers/header-secondary.twig" %}

{% block icon %}
    fa-bullseye
{% endblock %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block tertiary %}


<div class="page-header w-full bg-brand-secondary-light  z-20 border-t border-gray-medium pr-2 md:pr-8 fixed relative">


            <nav class="tac-nav w-full flex justify-between border-b border-gray-medium z-20 pr-2 lg:pr-8 pt-1 max-w-7xl mx-auto">
                <ul class="mx-auto xl:px-0 flex-wrap flex-row flex justify-start lg:ml-12 z-50 md:pl-8">
                    <li ><a class="text-xs md:text-base uppercase py-2 px-1 sm:p-2 md:px-4 inline-block font-semibold bg-" href="#equity">Equity</a></li>
                    <li ><a class="text-xs md:text-base uppercase py-2 px-1 sm:p-2 md:px-4 inline-block font-semibold bg-" href="#bonds">Bonds</a></li>
                    <li ><a class="text-xs md:text-base uppercase py-2 px-1 sm:p-2 md:px-4 inline-block font-semibold bg-" href="#metals">Metals</a></li>
                    <li ><a class="text-xs md:text-base uppercase py-2 px-1 sm:p-2 md:px-4 inline-block font-semibold bg-" href="#commodities">Commodities</a></li>
                    <li ><a class="text-xs md:text-base uppercase py-2 px-1 sm:p-2 md:px-4 inline-block font-semibold bg-" href="#volatility">Volatility</a></li>

                </ul>
                <a href="{{site.link}}/wiki/intro-to-tactical-portfolio" class="inline-block flex items-center justify-end italic text-primary-medium text-accent-blue" target="_blank" ><i class="fas fa-question-circle mr-1"></i><span class="hidden underline text-accent-blue lg:inline-block">Learn about TAC</span></a>
            </nav>

</div>




{% endblock %}
